<%- /* partials/menu.ejs */ %>
<%
    const menuCompetitionId = locals.competition && locals.competition.id ? locals.competition.id : null;
    const teamsHref = menuCompetitionId ? `/teams?competitionId=${menuCompetitionId}` : '/teams';
    const rankingHref = menuCompetitionId ? `/competitions/${menuCompetitionId}/ranking` : '/ranking';
    const reportsHref = menuCompetitionId ? `/reports?competitionId=${menuCompetitionId}` : '/reports';
    const teamUuid = typeof team !== 'undefined' && team && team.uuid ? team.uuid : null;
    const shareHref = teamUuid ? `/public/team/${teamUuid}/share` : '/dashboard';
%>

<nav class="sidebar">

    <div class="sidebar-bg">
        <img src="/img/fundo_menu.jpg" alt="" aria-hidden="true" />
    </div>

    <div class="sidebar-logo">
        <img src="/img/logo_red-bull.png" alt="Logo RedBull 24H" class="logo-image" />
    </div>

    <% if (!locals.hideMenuNav) { %>
    <div class="sidebar-nav">

        <div class="nav-item-wrapper">
            <a class="nav-item" href="/dashboard">
                <div class="icon-wrap">
                    <svg fill="none" preserveAspectRatio="none" viewBox="0 0 31.125 31.0332">
                        <g clip-path="url(#clip0_1_13)">
                            <path
                                d="M3.89062 16.8097H14.2656V3.87915H3.89062V16.8097ZM3.89062 27.1541H14.2656V19.3958H3.89062V27.1541ZM16.8594 27.1541H27.2344V14.2236H16.8594V27.1541ZM16.8594 3.87915V11.6375H27.2344V3.87915H16.8594Z"
                                fill="#F8F8FA"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_1_13">
                                <rect fill="white" height="31.0332" width="31.125" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <span class="nav-label">Dashboard</span>
            </a>
        </div>

        <div class="nav-item-wrapper">
            <a class="nav-item" href="<%= teamsHref %>">
                <div class="icon-wrap">
                    <svg fill="none" preserveAspectRatio="none" viewBox="0 0 28.25 23.75">
                        <path
                            d="M19.75 22V19.75C19.75 18.5565 19.2759 17.4119 18.432 16.568C17.5881 15.7241 16.4435 15.25 15.25 15.25H6.25C5.05653 15.25 3.91193 15.7241 3.06802 16.568C2.22411 17.4119 1.75 18.5565 1.75 19.75V22M26.5 22V19.75C26.4993 18.7529 26.1674 17.7844 25.5565 16.9964C24.9457 16.2083 24.0904 15.6455 23.125 15.3963M18.625 1.89625C19.593 2.14409 20.4509 2.70704 21.0636 3.49635C21.6763 4.28566 22.0088 5.25643 22.0088 6.25562C22.0088 7.25482 21.6763 8.22559 21.0636 9.0149C20.4509 9.80421 19.593 10.3672 18.625 10.615M15.25 6.25C15.25 8.73528 13.2353 10.75 10.75 10.75C8.26472 10.75 6.25 8.73528 6.25 6.25C6.25 3.76472 8.26472 1.75 10.75 1.75C13.2353 1.75 15.25 3.76472 15.25 6.25Z"
                            stroke="#F8F8FA"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2.0"
                        />
                    </svg>
                </div>
                <span class="nav-label">Equipes</span>
            </a>
        </div>

        <div class="nav-item-wrapper">
            <a class="nav-item" href="<%= rankingHref %>">
                <div class="icon-wrap">
                    <svg fill="none" preserveAspectRatio="none" viewBox="0 0 36.0262 39.0105">
                        <path
                            fill="#F8F8FA"
                            d="M21.0054 4.87631C21.8016 4.87631 22.5652 5.21881 23.1282 5.82847C23.6913 6.43813 24.0076 7.265 24.0076 8.12718V13.0035H30.0119C30.8082 13.0035 31.5718 13.346 32.1348 13.9557C32.6978 14.5653 33.0141 15.3922 33.0141 16.2544V30.8833C33.0141 31.7455 32.6978 32.5724 32.1348 33.182C31.5718 33.7917 30.8082 34.1342 30.0119 34.1342H5.99444C5.19821 34.1342 4.43459 33.7917 3.87157 33.182C3.30855 32.5724 2.99225 31.7455 2.99225 30.8833V21.1307C2.99225 20.2685 3.30855 19.4416 3.87157 18.832C4.43459 18.2223 5.19821 17.8798 5.99444 17.8798H11.9988V8.12718C11.9988 7.265 12.3151 6.43813 12.8781 5.82847C13.4412 5.21881 14.2048 4.87631 15.001 4.87631H21.0054ZM21.0054 8.12718H15.001V30.8833H21.0054V8.12718ZM30.0119 16.2544H24.0076V30.8833H30.0119V16.2544ZM11.9988 21.1307H5.99444V30.8833H11.9988V21.1307Z"
                        />
                    </svg>
                </div>
                <span class="nav-label">Ranking</span>
            </a>
        </div>

        <div class="nav-item-wrapper">
            <a class="nav-item" href="<%= reportsHref %>">
                <div class="icon-wrap">
                    <svg fill="none" preserveAspectRatio="none" viewBox="0 0 38.2 40">
                        <path
                            clip-rule="evenodd"
                            fill="#F8F8FA"
                            fill-rule="evenodd"
                            d="M9.97657 5C10.256 4.49328 10.6578 4.0725 11.1417 3.77994C11.6256 3.48738 12.1746 3.33335 12.7333 3.33333H20.6917C21.2504 3.33335 21.7994 3.48738 22.2833 3.77994C22.7672 4.0725 23.169 4.49328 23.4484 5H25.4667C26.3109 5 27.1206 5.35119 27.7176 5.97631C28.3146 6.60143 28.65 7.44928 28.65 8.33333V15H30.2417C31.0859 15 31.8956 15.3512 32.4926 15.9763C33.0896 16.6014 33.425 17.4493 33.425 18.3333V33.3333C33.425 34.2174 33.0896 35.0652 32.4926 35.6904C31.8956 36.3155 31.0859 36.6667 30.2417 36.6667H17.5083C16.6641 36.6667 15.8544 36.3155 15.2574 35.6904C14.6604 35.0652 14.325 34.2174 14.325 33.3333V31.6667H7.95833C7.11406 31.6667 6.30437 31.3155 5.70738 30.6904C5.11039 30.0652 4.775 29.2174 4.775 28.3333V8.33333C4.775 7.44928 5.11039 6.60143 5.70738 5.97631C6.30437 5.35119 7.11406 5 7.95833 5H9.97657ZM9.55 8.33333H7.95833V28.3333H14.325V18.3333C14.325 17.4493 14.6604 16.6014 15.2574 15.9763C15.8544 15.3512 16.6641 15 17.5083 15H25.4667V8.33333H23.875C23.875 9.21739 23.5396 10.0652 22.9426 10.6904C22.3456 11.3155 21.5359 11.6667 20.6917 11.6667H12.7333C11.8891 11.6667 11.0794 11.3155 10.4824 10.6904C9.88539 10.0652 9.55 9.21739 9.55 8.33333ZM17.5083 18.3333V33.3333H30.2417V18.3333H17.5083ZM20.6917 6.66667H12.7333V8.33333H20.6917V6.66667Z"
                        />
                    </svg>
                </div>
                <span class="nav-label">Relatório</span>
            </a>
        </div>

        <div class="nav-item-wrapper">

        </div>

    </div>
    <% } %>

    <div class="sidebar-bottom">
        <div class="nav-item-wrapper">
            <a class="nav-item" href="/logout">
                <div class="icon-wrap">
                    <svg fill="none" preserveAspectRatio="none" viewBox="0 0 32 28">
                        <g clip-path="url(#clip0_3_10)">
                            <path
                                d="M5.33333 21H8V23.3333H24V4.66667H8V7H5.33333V3.5C5.33333 3.19058 5.47381 2.89383 5.72386 2.67504C5.97391 2.45625 6.31304 2.33333 6.66667 2.33333H25.3333C25.687 2.33333 26.0261 2.45625 26.2761 2.67504C26.5261 2.89383 26.6667 3.19058 26.6667 3.5V24.5C26.6667 24.8094 26.5261 25.1062 26.2761 25.325C26.0261 25.5438 25.687 25.6667 25.3333 25.6667H6.66667C6.31304 25.6667 5.97391 25.5438 5.72386 25.325C5.47381 25.1062 5.33333 24.8094 5.33333 24.5V21ZM8 12.8333H17.3333V15.1667H8V18.6667L1.33333 14L8 9.33333V12.8333Z"
                                fill="#F8F8FA"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_3_10">
                                <rect fill="white" height="28" width="32" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <span class="nav-label">Sair</span>
            </a>
        </div>
        <div class="nav-item-wrapper">
            <a class="nav-item" href="<%= shareHref %>">
                <div class="icon-wrap">
                    <svg fill="none" preserveAspectRatio="none" viewBox="0 0 24 24">
                        <path fill="#F8F8FA" d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92-1.31-2.92-2.92-2.92z"/>
                    </svg>
                </div>
                <span class="nav-label">Compartilhar</span>
            </a>
        </div>
    </div>
</nav>
